[Unit]
Description=My Musi Downloader
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=musi
Group=media
ExecStart=/usr/local/bin/mymusidownloader -config /etc/mymusidownloader/config.json
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
